<section class="cards row">
    <section class="col-sm-4">
        <div @fadeInLeft class="card" style="width: 18rem;">
            <img src="../../../assets/os-significados-das-marcas-de-automoveis.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Marcas</h5>
                <p class="card-text">
                    Adicione, altere ou verifique o estado das marcas que foram cadastradas em nosso sistema!
                </p>
            </div>
        
            <div class="card-body">
                <a [routerLink]="['/marcas']" class="card-link btn btn-danger"><i class="fas fa-car text-light"></i></a>
            </div>
        </div>
    </section>

    <section class="col-sm-4">
        <div @fadeInLeft1 class="card" style="width: 18rem;">
            <img src="../../../assets/business-partner-740x414.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Proprietários</h5>
                <p class="card-text">
                    Pesquise os proprietários e seus respectivos veículos em nossa base!
                </p>
            </div>
        
            <div class="card-body">
                <a [routerLink]="['/proprietarios']" class="card-link btn btn-info"><i class="fas fa-user-alt text-light"></i></a>
            </div>
        </div>
    </section>

    <section class="col-sm-4">
        <div @fadeInLeft2 class="card" style="width: 18rem;">
            <img src="../../../assets/baixados.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Veículos</h5>
                <p class="card-text">
                    Veja nossos maravilhosos veículos que foram cadastrados em nossa base!
                </p>
            </div>
        
            <div class="card-body">
                <a [routerLink]="['/veiculos']" class="card-link btn btn-warning"><i class="fas fa-bus-alt text-light"></i></a>
            </div>
        </div>
    </section>
</section>