<footer @flyInOut class="text-center text-lg-start bg-light text-muted">
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <div class="me-5 d-none d-lg-block">
        <span>Esteja conectado a mim nas redes sociais:</span>
      </div>
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://github.com/marophius" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Félix Serviços de TI
            </h6>
            <p>
              Aqui você poderá testar a maravilhosa aplicação criada por mim!
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Tecnologias
            </h6>
            <p>
              <span class="text-reset">Angular</span>
            </p>
            <p>
              <span class="text-reset">.NET</span>
            </p>
            <p>
              <span class="text-reset">Nestjs</span>
            </p>
            <p>
              <span class="text-reset">Flutter</span>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Contato
            </h6>
            <p><i class="fas fa-home me-3"></i> Salvador, BA 40270220, BR</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              ifeme08@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i>(71) 99236-8543</p>
          </div>
        </div>
      </div>
    </section>
  
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Desenvolvido com <i class="fa-solid fa-heart text-danger"></i> por Ícaro Félix!</a>
    </div>
  </footer>