<section class="cards row">
    <section class="col-sm-4">
        <div @flyInOut class="card" style="width: 18rem;">
            <img src="https://mdbootstrap.com/img/new/standard/city/062.webp" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
            </div>
        
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </section>

    <section class="col-sm-4">
        <div @flyInOut1 class="card" style="width: 18rem;">
            <img src="https://mdbootstrap.com/img/new/standard/city/062.webp" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
            </div>
        
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </section>

    <section class="col-sm-4">
        <div @flyInOut2 class="card" style="width: 18rem;">
            <img src="https://mdbootstrap.com/img/new/standard/city/062.webp" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
            </div>
        
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </section>
</section>