<header @flyInOut>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          (click)="jumbotronExample.toggle()"
          aria-controls="jumbotronExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div
          mdbCollapse
          #jumbotronExample="mdbCollapse"
          class="collapse navbar-collapse"
          id="jumbotronExample"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/veiculos']">Veículos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/marcas']">Marcas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/proprietarios']">Proprietários</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="p-5 text-center bg-light">
    <h1 class="mb-3">Sejam bem vindos!</h1>
    <h4 class="mb-3">Apreciem a aplicação</h4>
    <a class="btn btn-primary" href="" role="button">Call to action</a>
  </div>

</header>
