<section class="table-section">
    <button class="btn btn-primary" (click)="abrirModalFormulario()">Adicionar</button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let veiculo of veiculos; let i = index">
            <td>#{{i + 1}}</td>
            <td>{{veiculo.modelo}}</td>
            <td>{{veiculo.renavam}}</td>
            <td *ngIf="veiculo.status == 0"> Disponivel</td>
            <td *ngIf="veiculo.status == 1"> Indisponivel</td>
            <td *ngIf="veiculo.status == 2"> Vendido</td>
            <td *ngIf="veiculo.status == 0">
                <button type="button" class="btn btn-danger btn-floating" (click)="alterarStatus(veiculo)" pTooltip="Cancelar" tooltipPosition="top">
                    <i class="fas fa-times"></i>
                </button>
                <button type="button" class="btn btn-danger btn-floating" (click)="abrirModalFormularioData(veiculo)" pTooltip="Editar" tooltipPosition="top">
                    <i class="fas fa-times"></i>
                </button>
            </td>
            <td *ngIf="veiculo.status == 1">
                <button type="button" class="btn btn-success btn-floating" (click)="alterarStatus(veiculo)" pTooltip="Ativar" tooltipPosition="top">
                    <i class="fas fa-check"></i>
                </button>
                <button type="button" class="btn btn-danger btn-floating" (click)="abrirModalFormularioData(veiculo)" pTooltip="Editar" tooltipPosition="top">
                    <i class="fas fa-times"></i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
</section>